<div class="row">
  <div class="col-sm-2">  
    <%= link_to new_provider_path, class: "btn btn-primary new-button" do %>
      <span class="glyphicon glyphicon-plus"/> Add Provider
    <% end %>
  </div>
</div>
