<div class="col-xs-10">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <strong class="panel-title">Implicit Flow Diagram</strong>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-3 zero-pad-right" id="flow_legend">
          <%= image_tag "oidc_implicit_legend.png", class: 'img-responsive' %>
        </div>
        <div class="col-xs-9 zero-pad-left" id="flow_diagram">
          <%= image_tag "oidc_implicit.png", class: 'img-responsive' %>
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="col-xs-12">
          <ol class="alpha-list">
            <li>Client Web Browser requests the API Consumer site</li>
            <ol class="alpha-list">
              <li>Member chooses a login provider</li>
              <li>OpenID Connect client discovers the Provider's endpoints</li>
            </ol>
            <li>Client Web Browser sends the client_id and redirect_uri 
            to the Provider's authorization endpoint</li>
            <ol class="alpha-list">
              <li>Member provides username/password</li>
              <li>Member authorizes API Consumer access to data</li>
            </ol>

            <li>OIDC Provider responds with ID Token and/or Access Token
            to the Client Web Browser</li>
            <ol class="alpha-list">
              <li>Client verifies the ID Token signature</li>
              <li>The Access Token is stored in a secure location and
              verified against the ID Token at_hash signature</li>
            </ol>

            <li>Client Web Browser uses the ID Token as a session 
            cookie with the API Consumer</li>

            <li>Client Web Browser uses the Access Token to retrieve:</li>
            <ol class="alpha-list">
              <li>Additional User Info Claims from the OIDC provider</li>
              <li>OData API requests against RETS Web API</li>
            </ol>
        </div>
      </div>
    </div>
  </div> <!-- panel -->
</div> <!-- flow column -->

