<div class="col-xs-10">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <strong class="panel-title">Hybrid Flow Diagram</strong>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-3 zero-pad-right" id="flow_legend">
          <%= image_tag "oidc_hybrid_legend.png", class: 'img-responsive' %>
        </div>
        <div class="col-xs-9 zero-pad-left" id="flow_diagram">
          <%= image_tag "oidc_hybrid.png" class: 'img-responsive' %>
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="col-xs-12">
          <ol class="alpha-list">
            <li>Client Web Browser requests the API Consumer site</li>
            <ol class="alpha-list">
              <li>Member chooses a login provider</li>
              <li>OpenID Connect client discovers the Provider's endpoints</li>
            </ol>
            <li>Client Web Browser sends the client_id and redirect_uri 
            to the Provider's authorization endpoint</li>
            <ol class="alpha-list">
              <li>Member provides username/password</li>
              <li>Member authorizes API Consumer access to data</li>
            </ol>

            <li>OIDC Provider responds with ID Token, Access Token, and 
            Authorization Code to the Client Web Browser</li>
            <ol class="alpha-list">
              <li>Client verifies the ID Token signature</li>
              <li>The Access Token is stored in a secure location and
              verified against the ID Token <code>at_hash</code> signature</li>
              <li>The Authorization Code is verified against the ID Token's
              <code>c_hash</code> signature</li>
            </ol>

            <li>Client Web Browser sends the ID Token and Authorization Code
            to the API Consumer</li>
            <ol class="alpha-list">
              <li>ID Token can be used as a sesssion cookie</li>
              <li>The API Consumer verifies the authorization code against the 
              ID Token's <code>c_hash</code> signature</li>
            </ol>

            <li>The API Consumer uses the Authorization Code to request
            an Access Token and/or Refresh Token
            </li>

            <li>Client Web Browser uses the Access Token to retrieve:</li>
            <ol class="alpha-list">
              <li>Additional User Info Claims from the OIDC provider</li>
              <li>OData API requests against RETS Web API</li>
            </ol>

            <li>The API Consumer uses his own Access Token to retrieve:</li>
            <ol class="alpha-list">
              <li>Additional User Info Claims from the OIDC provider</li>
              <li>OData API requests against RETS Web API</li>
              <li>Uses the Refresh Token to request another Access Token
              after it expires</li>
            </ol>

        </div>
      </div>
    </div>
  </div> <!-- panel -->
</div> <!-- flow column -->

